<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">
      Create a new catergory
    </h1>

    <input #catergoryTitleInput class="input has-background-light is-medium" type="text" placeholder="Enter catergory name...">
    <br><br>
    <div class="buttons is-right">
      <button class="button is-medium" routerLink="/">Cancel</button>
      <button class="button is-primary has-text-white is-medium" (click)="createCatergory(catergoryTitleInput.value)">Create</button>
    </div>

    
  </div>
</div>